body, html {font-family: Arial, Helvetica, sans-serif; height: 100%}
form {border: 3px solid #f1f1f1;}

.first_background_accueil {
  width: 100%;
  background-color: #233158;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first_background_accueil .description{
  color: white;
  font-size: 4vw;
  text-align: center;
  text-transform: uppercase;
}

.icon_container_acccueil{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_container_acccueil img{
    width: 50%;
}
div.bg-dark{
  background-color: #233158!important;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/*@media screen and (min-width: 800px) {
  div.login_container{
    width: 70%;
  }
}*/
div.forgot_password.container{
  display: flex;
  flex-direction: row-reverse;
}
div.login_container{
  width: 70%;
}
