<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Import the Bootstrap stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.5.2-dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <title>Dashboard</title>
</head>
<body>
  {% include "shared/navbar.html" %}

  <h1 class='pt-3 pb-3'>Dashboard</h1>
  <p>Bienvenue sur votre dashboard perso cher {{ username }}</p>

  {% if username == 'client' %}
    <p>Voici l'interface client :</p>
    <ul>
      <li>consulter liste de souhaits</li>
      <li>consulter favoris</li>
      <li>créer une alerte personnalisée</li>
    </ul>
  {% elif username == "vendeur" %}
    <p>Voici l'interface vendeur/gestionnaire</p>
    <ul>
      <li>nombre de visites sur le site</li>
      <li>taux de conversion (création de compte / visite)</li>
      <li>taux de conversion avancé (création de liste de souhait / création de compte)</li>
      <li>nombre moyen de véhicules / liste de souhaits / personne</li>
      <li>le top 5 des véhicules les plus appréciés(liste de souhait) et consultés sous forme de carrousel</li>
      <li>graphe ordonné des types de voitures vendus</li>
      <li>nombre de ventes / mois / type de véhicules</li>
    </ul>
  {% endif %}
</body>
