<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Import the Bootstrap stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.5.2-dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Accueil Ma prochaine Auto</title>
</head>
<body>

  {% include "shared/navbar.html" %}
  <div class="first_background_accueil">
    <div class='description pr-5 pl-5'>La solution digitale pour votre gestion de parc automobile</div>
  </div>
  <div class='custom_container'>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Une concession numérique sur mesure</h2>
          <p class="lead">Parcourez notre large panel de véhicule facilement à l'aide de filtres efficaces et précis<br></p>
        </div>
        <div class="icon_container_acccueil pb-5">
          <img src=" {{url_for('static', filename='images/custom.svg')}}" style='fill:white;'>
        </div>
      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Une gestion de favoris personnalisées</h2>
          <p class="lead">Consultez et modifiez votre liste à votre guise afin de garder une trace de vos préférences<br></p>
        </div>
        <div class="icon_container_acccueil pb-5">
          <img src=" {{url_for('static', filename='images/favori.svg')}}" style='fill:#233158'>
        </div>
      </div>
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Création d'alertes</h2>
          <p class="lead">Vous n'avez pas trouvé ce que vous souhaitiez ?<br> Donnez nous vos critères de choix et vous serez prévenu lorsqu'un véhicule correspond à vos besoins</p>
        </div>
        <div class="icon_container_acccueil pb-5">
          <img src=" {{url_for('static', filename='images/alert.svg')}}" style='fill:white'>
        </div>
      </div>
    </div>
  </div>

  <!-- Import jquery 3.3.1 slim min -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <!-- Import Bootstrap bundle -->
  <script src="{{ url_for('static', filename='bootstrap-4.5.2-dist/js/bootstrap.bundle.min.js') }}"></script>
</body>
